### Gradle ###
**/build/
**/.gradle/
!gradle/wrapper/gradle-wrapper.jar
local.properties

### Minecraft dev environment ###
**/run/
logs/
hs_err_pid*

### Java ###
*.class

### IntelliJ IDEA ###
*.iml
*.ipr
*.iws
.idea/
.idea_modules/
/out/

### Eclipse ###
.metadata
.settings/
.classpath
.project
.factorypath
bin/
*.launch

### Editors / OS ###
*~
*.bak
*.swp
thumbs.db
.DS_Store
